In [1]:
import pandas as pd

# CSV’yi oku
df = pd.read_csv("Titanic_dataset.csv")

# İlk 5 satırı göster
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
# Kazada ölenler
dead = df[df.Survived == 0]

# Yaş ortalaması
ortalama_yas_olen = dead.Age.mean()
print("Kazada ölenlerin yaş ortalaması:", ortalama_yas_olen)

Kazada ölenlerin yaş ortalaması: 30.62617924528302

In [ ]:
# Kazada ölenlerin bilet fiyatlarının ortalama ve medyanı
ortalama_fiyat_olen = dead.Fare.mean()
medyan_fiyat_olen   = dead.Fare.median()
print("2) Kazada ölenlerin bilet fiyatı – Ortalama:", round(ortalama_fiyat_olen, 2),
      " Medyan:", round(medyan_fiyat_olen, 2))

2) Kazada ölenlerin bilet fiyatı – Ortalama: 22.12  Medyan: 10.5

In [4]:
#Kazada ölen erkeklerin yaş ortalaması
ortalama_yas_olen_erkek = dead[dead.Sex == "male"].Age.mean()
print("3) Ölen erkeklerin yaş ortalaması:", round(ortalama_yas_olen_erkek, 2))

3) Ölen erkeklerin yaş ortalaması: 31.62

In [5]:
#Kazada ölen kadınların yaş ortalaması
ortalama_yas_olen_kadin = dead[dead.Sex == "female"].Age.mean()
print("4) Ölen kadınların yaş ortalaması:", round(ortalama_yas_olen_kadin, 2))

4) Ölen kadınların yaş ortalaması: 25.05

In [6]:
#Kazadan kurtulanların yaş ortalaması
survived = df[df.Survived == 1]
ortalama_yas_kurtulan = survived.Age.mean()
print("5) Kurtulanların yaş ortalaması:", round(ortalama_yas_kurtulan, 2))

5) Kurtulanların yaş ortalaması: 28.34

In [7]:
#Kazadan kurtulanların bilet fiyatlarının ortalaması
ortalama_fiyat_kurtulan = survived.Fare.mean()
print("6) Kurtulanların bilet fiyatı ortalaması:", round(ortalama_fiyat_kurtulan, 2))

6) Kurtulanların bilet fiyatı ortalaması: 48.4

In [8]:
#Kazadan kurtulan toplam kişi sayısı
sayi_kurtulan = len(survived)
print("7) Kurtulan toplam kişi sayısı:", sayi_kurtulan)

7) Kurtulan toplam kişi sayısı: 342

In [9]:
#10 yaşından küçüklerin bilet fiyatlarının medyan değeri
children_under10 = df[df.Age < 10]
medyan_cocuk_fiyati = children_under10.Fare.median()
print("8) 10 yaş altı median bilet fiyatı:", round(medyan_cocuk_fiyati, 2))

8) 10 yaş altı median bilet fiyatı: 27.0

In [10]:
#1., 2. ve 3. sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırma
pclass_stats = df.groupby("Pclass").Fare.agg(["mean","median"]).rename(
    columns={"mean":"OrtalamaFiyat","median":"MedyanFiyat"})
print("9) Sınıflara göre bilet fiyatı istatistikleri:\n", 
      pclass_stats.round(2))

9) Sınıflara göre bilet fiyatı istatistikleri:
         OrtalamaFiyat  MedyanFiyat
Pclass
1               84.15        60.29
2               20.66        14.25
3               13.68         8.05

In [11]:
#Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştır
toplam_by_gender = df.Sex.value_counts()
dead_by_gender  = dead.Sex.value_counts()
oran_erkek = dead_by_gender["male"]   / toplam_by_gender["male"]
oran_kadin = dead_by_gender["female"] / toplam_by_gender["female"]
print(f"10) Ölen erkeklerin oranı: {oran_erkek:.2f}")
print(f"    Ölen kadınların oranı:    {oran_kadin:.2f}")

10) Ölen erkeklerin oranı: 0.81
    Ölen kadınların oranı:    0.26